POSTGRES_DB=candidate_db
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypass
POSTGRES_PORT=5432

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_DB=offers_db
MONGODB_PORT=27017
MONGODB_URI=mongodb://root:example@localhost:27017/offers_db?authSource=admin

REDIS_PORT=6379

KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
TOPIC_CANDIDATE_CREATED=candidate-created
TOPIC_CALCULATION_COMPLETED=calculation-completed
CALCULATION_CONSUMER_GROUP=calculation-group
OFFER_CONSUMER_GROUP=offer-group

CANDIDATE_SERVICE_PORT=8080
CALCULATION_SERVICE_PORT=8081
OFFER_SERVICE_PORT=8082

CANDIDATE_JPA_SHOW_SQL=false
CALCULATION_KAFKA_LOG_LEVEL=INFO
OFFER_AUTOCONFIG_LOG_LEVEL=INFO

COEFFICIENT_MARKET=100
COEFFICIENT_EXPERIENCE_BONUS_PERCENT=5
COEFFICIENT_BASE_SALARY_JUNIOR=150000
COEFFICIENT_BASE_SALARY_MIDDLE=250000
COEFFICIENT_BASE_SALARY_SENIOR=350000
